<h2>My Slayers</h2>
<div class="slayer-container">
  <div class="info">
    <ul class="slayers">
      <li *ngFor="let slayer of slayers">
        <a routerLink="/detail/{{slayer.id}}">
          <span class="badge">{{slayer.id}}</span> {{slayer.name}}
        </a>
        <button class="delete" title="delete slayer"
          (click)="delete(slayer)">x</button>
      </li>
    </ul>
  </div>
</div>
<div>
  <label for="new-slayer">Slayer name: </label>
  <input id="new-slayer" #slayerName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(slayerName.value); slayerName.value=''">
    Add slayer
  </button>
</div>